<h3>Survey Manager</h3>

<p>
  add a survey
</p>

<form class="" action="/survey/new" method="post">
  <label for="name">survey title:</label><br>
  <input type="text" name="survey-title" required>
  <br><br>
  <button type="submit" class="btn btn-danger" name="survey-button">create survey</button>
</form>
<br>
<% @surveys.each do |survey| %>
  <li><a href="/survey/<%= survey.id %>"><%= survey.title %></a></li>
<% end %>
